{% extends "system/base_list.html" %}
{% load bootstrap3 %}
{% block maincontent %}





	<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>
							工号
						</th>
						<th>
							姓名
						</th>
						<th>
							性别
						</th>
						<th>
                            身份证
						</th>
                        <th>
                            类型
						</th>
                        <th>
                            状态
						</th>
                        <th>
                            操作
						</th>
					</tr>
				</thead>
				<tbody>
                {% for employee in employee_list %}
					<tr class={% cycle 'warning'  'success' %}>
						<td>
							{{employee.num}}
						</td>
						<td>
							{{employee.name}}
						</td>
						<td>
							{{employee.get_sex_display}}
						</td>
                       
						<td>
							{{employee.idCard}}
						</td>
                        <td>
							{{employee.get_type_display}}
						</td>
                        <td>
							{{employee.get_status_display}}
						</td>
                        <td>
							<a class="btn btn-primary btn-xs" href="{% url 'employee_detail'  employee.id %}"><i class=" fa fa-eye"></i>&nbsp;&nbsp;查看</a> <!--<a  class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal"  >删除</a>-->
						</td>
					</tr> 
                    {% endfor %}
				</tbody>
			</table>
			
		
            
      
 

{% endblock maincontent %}         

 
