{% extends "system/base_detail.html" %}
{% load bootstrap3 %}
{% block maincontent %}

<form action="" method="post"  class="form-horizontal" role="form">
    {% csrf_token %}
     {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
     <div  class="col-md-2 ">  </div>
        <div  class="col-md-10 "> 
        <button type="submit" class="btn btn-primary">
             <i class="fa fa-save"></i>&nbsp;&nbsp;保存
        </button> 
        <a  class="btn btn-primary"  href="{% url 'material_list' %}" >
            <i class="fa fa-arrow-left"></i> &nbsp;&nbsp;返回
        </a> 
          </div>
    {% endbuttons %}
</form>


<script>
    $("#id_materialType").on("change",function(){ 
            $("#id_num").val(this.value + '.');  
    });
</script>

{% endblock maincontent %}          
